*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #E3E3E1;
}
.banner .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
/*.banner .navbar .logo{
    text-align: center;
    flex: 1; 

}
@media screen and (min-width:1280px){
    .banner .navbar .logo{
        flex:auto;
        text-align: left;
        
    } } */
.logo img{
    width: 45px;
    
}
.logo span{
    font-size: 1.5rem;
    font-weight: 700;
}
section.banner{
    height: 100vh;
    background-image: url(../img/old-books-arrangement-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}



.banner .navbar .first-navbar{
    display: none;
}
@media screen and (min-width:1280px){
    .banner .navbar .first-navbar{
        display: block;
    }
}
.banner .navbar .second-navbar li:nth-child(1),
.banner .navbar .second-navbar li:nth-child(2){
display: none;
}
@media screen and (min-width:1280px){
    .banner .navbar .second-navbar li:nth-child(1),
    .banner .navbar .second-navbar li:nth-child(2){
        display:block; } 
    }
.banner .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.banner .navbar ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 700;
}
.banner .navbar .second-navbar li:last-child {
    font-size: 1.7rem;
}
/* SIDE MENU*/

nav.side-menu{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 30px;
    width: 100%;
    transform: translateX(100%) ;
    -webkit-transform: translateX(100%) ;
    -moz-transform: translateX(100%) ;
    -ms-transform: translateX(100%) ;
    -o-transform: translateX(100%) ;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    z-index: 99;
    overflow-y: scroll;
}

@media screen and (min-width:600px){
    nav.side-menu{
        left: auto;
        width: 200px;
    }
}
nav.side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    line-height: 50px;
}
nav.side-menu ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    display: block;
}
nav.side-menu ul.menu1 i{
font-size: 1.3rem;
margin-left: 5px;
}
nav.side-menu > label{
    font-size: 1.5rem;
}
.chkmenu{
    display: none;
}
.chkmenu:checked + nav.side-menu{
    transform: translateX(0) ;
    -webkit-transform: translateX(0) ;
    -moz-transform: translateX(0) ;
    -ms-transform: translateX(0) ;
    -o-transform: translateX(0) ;
}
.banner::before{
    content: "";
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}
.chkmenu:checked ~ 
.banner::before{
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.3;
    z-index: 1;

}

label[for="chkmenu"]{
    cursor: pointer;
}
.banner .order-form{
   
     margin-top: 80px;
    display: flex;
    justify-content: center;}

.banner .order-form form{
     width: 80%;
    display: flex;
    justify-content: center;
        gap: 20px;
}




.banner .order-form input {
    background-color: rgba(255, 255, 255, 0.228);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid white;
    font-size: 0.8rem;
    flex: 5;
    outline: none;

}
.banner .order-form button{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.699);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 700;
    flex: 2;
}
input{
  
}


.banner .content {

    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
}

.banner .content h1{
    font-size: 2.5rem;
    margin: 0;
}
main > section{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:1200px){
    main > section {
        flex-direction: row;
    }
}

main > section > div {

    flex: 1 0 50%;
}
@media screen and (min-width: 1200px){
     
    main > section{
        flex-direction: row;
    }
    main > section.reserve{
        flex-direction: row-reverse;
    }
        
    }
  main > section > div.image{

    background-image: linear-gradient(#E2E2E0,#DFDFDD, white);
  }

 
main > section > div img{
    width: 70%;
    margin: 20px;
   margin-left: 15%;
}
main > section > div:last-child{

    padding: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@media screen and ( min-width:700px){
    main > section > div:last-child{
        padding: 50px 20%;
    }
}
@media screen and ( min-width:1200px){
    main > section > div:last-child{
        padding: 50px 150px 50px 70px;
        align-items: flex-start;
    }
}
main > section h2{
    font-size: 2.2rem;
}

@media screen and ( min-width:1200px){
    main > section h2{

        font-size: 2.8rem;
    }
}

main > section p{

    line-height: 25px;
}

   
.comment {
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  /*  display: grid;
    grid-column: 100px 100px;
    grid-row: 200px 200px 200px;*/
}
.user{
    text-align: center;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;

}
@media (max-width: 768px) {
  .comment {
    grid-template-columns: repeat(1, 1fr); /* Tek sütunlu düzen */
  }
}

.comment >section > div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.comment > section img , h3{
    display: inline-block;

} 

.comment > section  span {
  
}   
.comment >section {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.863);
    padding: 10px;
    margin: 30px;
}
footer{
    text-transform: uppercase;
    background-color: rgb(192, 192, 192);
}
footer > section {
    display: flex;
    gap: 90px;
    
}

footer  section  div  ul  li{
  list-style-type: none;
  padding-top: 8px ;
}
footer  section  div  ul h3{
    margin-bottom: 2px;
}
footer div.icon {
    display: flex;
    justify-content:end;
    align-items:center;
}
footer div.icon img{
    width: 45px;
    
}
 footer div.icon span{
    font-size: 1.5rem;
    font-weight: 700;
}
footer  section   {
    flex-wrap: wrap;
}
/*@media screen and (max-width:700px){
    footer .first{
        display: none;
    }
}*/
section.second div h3 {
margin-right: 2.5rem;
padding: 1rem;
font-size: 1rem;

}
section.second div span{
    display: block;
    padding-left: 1rem;
    padding-bottom: 1rem ;
}
section.second div ul{
    display: flex;
    gap: 1rem;
}
    .scroll-top{
        position: fixed;
       bottom: 20px;
       right: 20px;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: black;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 5px black;

}
